body {
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 52px;
    text-decoration: underline;
}

#output {
    font-size: 64px;
    justify-content: center;
    padding: 10rem;
    margin: 5rem;
    text-align: center;
    border-color: black;
    border-style: double;
    border-width: 15px;
    background-color: blanchedalmond;
}

#clock {
    font-size: 64px;
}
